cpi-artifacts/PRD_IF_EmployeeCreation_SF_to_S4_MDF_copy_100228/src/main/resources/wsdl/WORKFORCEPERSONMASTERDATAREPLI-4.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n1="http://sap.com/xi/SAPGlobal/Global" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sap.com/xi/PASEIN" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/PASEIN">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="BN__binding">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All>
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All>
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:RequireClientCertificate/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All>
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All>
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:RequireClientCertificate/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="BN__binding_soap12">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All>
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All>
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:RequireClientCertificate/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All>
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All>
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:RequireClientCertificate/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF__WorkforcePersonMasterDataReplicationRequestResponse_In">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
					<sapcentraladmin:InterfaceCheckSum>2508492303EF3BD38FA25772EC99864D567F37C9</sapcentraladmin:InterfaceCheckSum>
				</sapcentraladmin:CentralAdministration>
				<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
					<sapcentraladmin:BusinessApplicationID>67B13429B5D31EDEA596F930DC86B846</sapcentraladmin:BusinessApplicationID>
				</sapcentraladmin:CentralAdministration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP__WorkforcePersonMasterDataReplicationRequestResponse_In">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
				<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
				<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
				<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema xmlns="http://sap.com/xi/PASEIN" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global" targetNamespace="http://sap.com/xi/PASEIN">
			<xsd:element name="WorkforcePersonMasterDataReplicationRequest_sync" type="WorkforcePersonMasterDataReplicationRequest"/>
			<xsd:element name="WorkforcePersonMasterDataReplicationResponse_sync" type="WorkforcePersonMasterDataReplicationResponse"/>
			<xsd:simpleType name="BankAccountHolderName">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="80"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BankAccountID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BankAccountStandardID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="34"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BankAccountTypeCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BankRoutingID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BuildingID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CLOSED_DatePeriod">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="StartDate" type="Date"/>
					<xsd:element minOccurs="0" name="EndDate" type="Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="CountryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDiallingCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CurrencyCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Date">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:date">
					<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DecimalValue">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="31"/>
					<xsd:fractionDigits value="14"/>
					<xsd:maxInclusive value="99999999999999999.99999999999999"/>
					<xsd:minInclusive value="-99999999999999999.99999999999999"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string"/>
					<xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="severity" type="xsd:string"/>
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element minOccurs="0" name="url" type="xsd:string"/>
					<xsd:element minOccurs="0" name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExtensionFields">
				<xsd:sequence>
					<xsd:element name="ElementName" type="LANGUAGEINDEPENDENT_Name"/>
					<xsd:element name="ElementValue" type="LANGUAGEINDEPENDENT_Text"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ExternalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GenderCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="80"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Text">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LanguageCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:language">
					<xsd:maxLength value="9"/>
					<xsd:minLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemNote">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="200"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemSeverityCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemTypeID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="40"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="NOSC_AcademicTitleCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="NOSC_EmailURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:anyURI"/>
			</xsd:simpleType>
			<xsd:simpleType name="NOSC_FamilyNamePrefixCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="NOSC_FormOfAddressCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="NOSC_LogItem">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="TypeID" type="LogItemTypeID"/>
					<xsd:element minOccurs="0" name="CategoryCode" type="NOSC_LogItemCategoryCode"/>
					<xsd:element minOccurs="0" name="SeverityCode" type="LogItemSeverityCode"/>
					<xsd:element name="Note" type="LogItemNote"/>
					<xsd:element minOccurs="0" name="WebURI" type="WebURI"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="NOSC_LogItemCategoryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="NOSC_PersonNameSupplementCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="NOSC_UUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="36"/>
					<xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="OrganisationalCentreID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PaymentFormCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PersonWorkAgreement">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="8"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PersonWorkAgreementType">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:maxLength value="2"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="PersonalInformation">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="FormOfAddress" type="NOSC_FormOfAddressCode"/>
					<xsd:element minOccurs="0" name="FirstName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
					<xsd:element name="LastName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
					<xsd:element minOccurs="0" name="PersonFullName" type="LANGUAGEINDEPENDENT_LONG_Name"/>
					<xsd:element minOccurs="0" name="AcademicTitle" type="NOSC_AcademicTitleCode"/>
					<xsd:element minOccurs="0" name="CorrespondenceLanguage" type="LanguageCode"/>
					<xsd:element name="GenderCode" type="GenderCode"/>
					<xsd:element minOccurs="0" name="MiddleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
					<xsd:element minOccurs="0" name="AdditionalLastName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
					<xsd:element minOccurs="0" name="BirthName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
					<xsd:element minOccurs="0" name="NickName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
					<xsd:element minOccurs="0" name="Initials" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
					<xsd:element minOccurs="0" name="AcademicSecondTitle" type="NOSC_AcademicTitleCode"/>
					<xsd:element minOccurs="0" name="LastNamePrefix" type="NOSC_FamilyNamePrefixCode"/>
					<xsd:element minOccurs="0" name="LastNameSecondPrefix" type="NOSC_FamilyNamePrefixCode"/>
					<xsd:element minOccurs="0" name="NameSupplement" type="NOSC_PersonNameSupplementCode"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="ExtensionFields" type="ExtensionFields"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PhoneInformation">
				<xsd:sequence>
					<xsd:element name="PhoneNumberType" type="PhoneType"/>
					<xsd:element minOccurs="0" name="CountryDialingCode" type="CountryDiallingCode"/>
					<xsd:element minOccurs="0" name="PhoneNumberAreaID" type="PhoneNumberAreaID"/>
					<xsd:element name="PhoneNumberSubscriberID" type="PhoneNumberSubscriberID"/>
					<xsd:element minOccurs="0" name="PhoneNumberExtension" type="PhoneNumberExtensionID"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PhoneNumberAreaID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberExtensionID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberSubscriberID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="30"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneType">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="ECPB"/>
					<xsd:enumeration value="ECPC"/>
					<xsd:maxLength value="4"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProcessingStatusCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RoomID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ServiceCostLevel">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SupplierID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UserName">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="40"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="WebURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:anyURI"/>
			</xsd:simpleType>
			<xsd:complexType name="WorkAgreementBankAccountInformation">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="BankCountry" type="CountryCode"/>
					<xsd:element minOccurs="0" name="BankAccountHolderName" type="BankAccountHolderName"/>
					<xsd:element minOccurs="0" name="IBAN" type="BankAccountStandardID"/>
					<xsd:element minOccurs="0" name="BankAccount" type="BankAccountID"/>
					<xsd:element minOccurs="0" name="Bank" type="BankRoutingID"/>
					<xsd:element minOccurs="0" name="BankControlKey" type="BankAccountTypeCode"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkAgreementJobInformation">
				<xsd:sequence>
					<xsd:element name="ValidityPeriod" type="CLOSED_DatePeriod"/>
					<xsd:element name="WorkAgreementStatus" type="WorkAgreementStatus"/>
					<xsd:element minOccurs="0" name="PersonWorkAgreement" type="PersonWorkAgreement"/>
					<xsd:element name="CompanyCode" type="OrganisationalCentreID"/>
					<xsd:element minOccurs="0" name="CostCenter" type="OrganisationalCentreID"/>
					<xsd:element minOccurs="0" name="ServiceCostLevel" type="ServiceCostLevel"/>
					<xsd:element minOccurs="0" name="WorkingTimePercentage" type="WorkingTimePercentage"/>
					<xsd:element minOccurs="0" name="WeeklyWorkingHours" type="DecimalValue"/>
					<xsd:element minOccurs="0" name="WeeklyWorkDays" type="DecimalValue"/>
					<xsd:element minOccurs="0" name="ManagerCompanyCode" type="OrganisationalCentreID"/>
					<xsd:element minOccurs="0" name="ManagerPersonWorkAgreementUUID" type="NOSC_UUID"/>
					<xsd:element minOccurs="0" name="ManagerPersonWorkAgreementExternalID" type="ExternalID"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="ExtensionFields" type="ExtensionFields"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkAgreementPaymentInformation">
				<xsd:sequence>
					<xsd:element name="ValidityPeriod" type="CLOSED_DatePeriod"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkAgreementPaymentInformationDetails" type="WorkAgreementPaymentInformationDetails"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkAgreementPaymentInformationDetails">
				<xsd:sequence>
					<xsd:element name="PaymentMethod" type="PaymentFormCode"/>
					<xsd:element name="PaymentCurrency" type="CurrencyCode"/>
					<xsd:element minOccurs="0" name="WorkAgreementBankAccountInformation" type="WorkAgreementBankAccountInformation"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WorkAgreementStatus">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="0"/>
					<xsd:enumeration value="1"/>
					<xsd:length value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="WorkOrder">
				<xsd:sequence>
					<xsd:element name="ValidityPeriod" type="CLOSED_DatePeriod"/>
					<xsd:element name="Supplier" type="SupplierID"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkPlaceInformation">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="EmailAddress" type="NOSC_EmailURI"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="PhoneInformation" type="PhoneInformation"/>
					<xsd:element minOccurs="0" name="RoomNumber" type="RoomID"/>
					<xsd:element minOccurs="0" name="Building" type="BuildingID"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkforcePersonMasterData">
				<xsd:sequence>
					<xsd:element name="PersonUUID" type="NOSC_UUID"/>
					<xsd:element name="PersonExternalID" type="ExternalID"/>
					<xsd:element minOccurs="0" name="UserName" type="UserName"/>
					<xsd:element name="PersonalInformation" type="PersonalInformation"/>
					<xsd:element minOccurs="0" name="WorkPlaceInformation" type="WorkPlaceInformation"/>
					<xsd:element maxOccurs="unbounded" name="WorkAgreementInformation" type="WorkforcePersonMasterDataWorkAgreementInformation"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkforcePersonMasterDataReplConfLogMessage">
				<xsd:sequence>
					<xsd:element name="PersonWorkAgreementUUID" type="NOSC_UUID"/>
					<xsd:element name="PersonWorkAgreementExternalID" type="ExternalID"/>
					<xsd:element name="PersonWorkAgreement" type="PersonWorkAgreement"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="LogItem" type="NOSC_LogItem"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkforcePersonMasterDataReplResponse">
				<xsd:sequence>
					<xsd:element name="PersonUUID" type="NOSC_UUID"/>
					<xsd:element name="PersonExternalID" type="ExternalID"/>
					<xsd:element name="ProcessingStatusCode" type="ProcessingStatusCode"/>
					<xsd:element maxOccurs="unbounded" name="WorkforcePersonMasterDataReplConfLogMessage" type="WorkforcePersonMasterDataReplConfLogMessage"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkforcePersonMasterDataReplicationRequest">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="WorkforcePersonMasterData" type="WorkforcePersonMasterData"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkforcePersonMasterDataReplicationResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="WorkforcePersonMasterDataReplResponse" type="WorkforcePersonMasterDataReplResponse"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkforcePersonMasterDataWorkAgreementInformation">
				<xsd:sequence>
					<xsd:element name="PersonWorkAgreementUUID" type="NOSC_UUID"/>
					<xsd:element name="PersonWorkAgreementExternalID" type="ExternalID"/>
					<xsd:element name="PersonWorkAgreementType" type="PersonWorkAgreementType"/>
					<xsd:element maxOccurs="unbounded" name="WorkAgreementJobInformation" type="WorkAgreementJobInformation"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkOrder" type="WorkOrder"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkAgreementPaymentInformation" type="WorkAgreementPaymentInformation"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WorkingTimePercentage">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Percent</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="5"/>
					<xsd:fractionDigits value="2"/>
					<xsd:maxInclusive value="999.99"/>
					<xsd:minInclusive value="-999.99"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema xmlns="http://sap.com/xi/SAPGlobal/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global" targetNamespace="http://sap.com/xi/SAPGlobal/Global">
			<xsd:import namespace="http://sap.com/xi/PASEIN"/>
			<xsd:element name="StandardMessageFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="tns:ExchangeFaultData"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="WorkforcePersonMasterDataReplicationRequest_sync">
		<wsdl:part element="tns:WorkforcePersonMasterDataReplicationRequest_sync" name="WorkforcePersonMasterDataReplicationRequest_sync"/>
	</wsdl:message>
	<wsdl:message name="WorkforcePersonMasterDataReplicationResponse_sync">
		<wsdl:part element="tns:WorkforcePersonMasterDataReplicationResponse_sync" name="WorkforcePersonMasterDataReplicationResponse_sync"/>
	</wsdl:message>
	<wsdl:message name="StandardMessageFault">
		<wsdl:part element="n1:StandardMessageFault" name="StandardMessageFault"/>
	</wsdl:message>
	<wsdl:portType name="WorkforcePersonMasterDataReplicationRequestResponse_In">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem applicationComponent="CA-WFD-INT"/>
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF__WorkforcePersonMasterDataReplicationRequestResponse_In"/>
		</wsp:Policy>
		<wsdl:operation name="WorkforcePersonMasterDataReplicationRequestResponse_In">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP__WorkforcePersonMasterDataReplicationRequestResponse_In"/>
			</wsp:Policy>
			<wsdl:input message="tns:WorkforcePersonMasterDataReplicationRequest_sync"/>
			<wsdl:output message="tns:WorkforcePersonMasterDataReplicationResponse_sync"/>
			<wsdl:fault message="tns:StandardMessageFault" name="StandardMessageFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="binding" type="tns:WorkforcePersonMasterDataReplicationRequestResponse_In">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__binding"/>
		</wsp:Policy>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="WorkforcePersonMasterDataReplicationRequestResponse_In">
			<soap:operation soapAction="http://sap.com/xi/PASEIN/WorkforcePersonMasterDataReplicationRequestResponse_In/WorkforcePersonMasterDataReplicationRequestResponse_InRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StandardMessageFault">
				<soap:fault name="StandardMessageFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="binding_soap12" type="tns:WorkforcePersonMasterDataReplicationRequestResponse_In">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__binding_soap12"/>
		</wsp:Policy>
		<wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="WorkforcePersonMasterDataReplicationRequestResponse_In">
			<wsoap12:operation soapAction="http://sap.com/xi/PASEIN/WorkforcePersonMasterDataReplicationRequestResponse_In/WorkforcePersonMasterDataReplicationRequestResponse_InRequest" style="document"/>
			<wsdl:input>
				<wsoap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StandardMessageFault">
				<wsoap12:fault name="StandardMessageFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="service">
		<wsdl:port binding="tns:binding" name="binding">
			<soap:address location="https://host:port/sap/bc/srt/scs_ext/sap/workforcepersonmasterdatarepli"/>
		</wsdl:port>
		<wsdl:port binding="tns:binding_soap12" name="binding_soap12">
			<wsoap12:address location="https://host:port/sap/bc/srt/scs_ext/sap/workforcepersonmasterdatarepli"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>