cpi-artifacts/Demo/PRD_IF_EmployeeCreation_SF_to_S4_MDF_copy_100228/src/main/resources/xsd/CompoundEmployeewithPaymentInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queryCompoundEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="CompoundEmployee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedShort" />
              <xs:element name="person">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="created_by" type="xs:string" />
                    <xs:element name="created_on_timestamp" type="xs:dateTime" />
                    <xs:element name="date_of_birth" type="xs:date" />
                    <xs:element name="last_modified_by" type="xs:string" />
                    <xs:element name="last_modified_on" type="xs:dateTime" />
                    <xs:element name="logon_user_id" type="xs:unsignedInt" />
                    <xs:element name="logon_user_is_active" type="xs:boolean" />
                    <xs:element name="logon_user_name" type="xs:string" />
                    <xs:element name="per_person_uuid" type="xs:string" />
                    <xs:element name="person_id" type="xs:unsignedShort" />
                    <xs:element name="person_id_external" type="xs:unsignedInt" />
                    <xs:element name="PaymentInformationDetailV3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="amount" />
                          <xs:element name="externalCode" type="xs:unsignedShort" />
                          <xs:element name="customPayType" />
                          <xs:element name="createdDateTime" type="xs:dateTime" />
                          <xs:element name="PaymentInformationV3_worker" type="xs:unsignedInt" />
                          <xs:element name="accountOwner" type="xs:string" />
                          <xs:element name="accountNumber" type="xs:unsignedLong" />
                          <xs:element name="bankCountry" type="xs:string" />
                          <xs:element name="routingNumber" />
                          <xs:element name="PaymentInformationV3_effectiveStartDate" type="xs:dateTime" />
                          <xs:element name="bank" type="xs:unsignedShort" />
                          <xs:element name="createdBy" type="xs:string" />
                          <xs:element name="businessIdentifierCode" type="xs:string" />
                          <xs:element name="iban" />
                          <xs:element name="paymentMethod" type="xs:unsignedByte" />
                          <xs:element name="currency" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="personal_information">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="challenge_status" type="xs:boolean" />
                          <xs:element name="created_by" type="xs:string" />
                          <xs:element name="created_on_timestamp" type="xs:dateTime" />
                          <xs:element name="end_date" type="xs:date" />
                          <xs:element name="first_name" type="xs:string" />
                          <xs:element name="formal_name" type="xs:string" />
                          <xs:element name="gender" type="xs:string" />
                          <xs:element name="is_overridden" type="xs:boolean" />
                          <xs:element name="last_modified_by" type="xs:string" />
                          <xs:element name="last_modified_on" type="xs:dateTime" />
                          <xs:element name="last_name" type="xs:string" />
                          <xs:element name="marital_status" type="xs:string" />
                          <xs:element name="nationality" type="xs:string" />
                          <xs:element name="salutation" type="xs:string" />
                          <xs:element name="start_date" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="address_information">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="address3" type="xs:string" />
                          <xs:element name="address_type" type="xs:string" />
                          <xs:element name="city" type="xs:string" />
                          <xs:element name="country" type="xs:string" />
                          <xs:element name="county" type="xs:string" />
                          <xs:element name="created_by" type="xs:string" />
                          <xs:element name="created_on_timestamp" type="xs:dateTime" />
                          <xs:element name="end_date" type="xs:date" />
                          <xs:element name="is_global_model_address" type="xs:boolean" />
                          <xs:element name="last_modified_by" type="xs:string" />
                          <xs:element name="last_modified_on" type="xs:dateTime" />
                          <xs:element name="start_date" type="xs:date" />
                          <xs:element name="state" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="phone_information">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="country_code" type="xs:string" />
                          <xs:element name="created_by" type="xs:string" />
                          <xs:element name="created_on_timestamp" type="xs:dateTime" />
                          <xs:element name="isPrimary" type="xs:boolean" />
                          <xs:element name="last_modified_by" type="xs:string" />
                          <xs:element name="last_modified_on" type="xs:dateTime" />
                          <xs:element name="phone_number" type="xs:string" />
                          <xs:element name="phone_type" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="email_information">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="created_by" type="xs:string" />
                          <xs:element name="created_on_timestamp" type="xs:dateTime" />
                          <xs:element name="email_address" type="xs:string" />
                          <xs:element name="email_type" type="xs:string" />
                          <xs:element name="isPrimary" type="xs:boolean" />
                          <xs:element name="last_modified_by" type="xs:unsignedInt" />
                          <xs:element name="last_modified_on" type="xs:dateTime" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="employment_information">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="assignment_class" type="xs:string" />
                          <xs:element name="assignment_uuid" type="xs:string" />
                          <xs:element name="assignmentIdExternal" type="xs:unsignedInt" />
                          <xs:element name="created_by" type="xs:string" />
                          <xs:element name="created_on_timestamp" type="xs:dateTime" />
                          <xs:element name="direct_reports" type="xs:unsignedByte" />
                          <xs:element name="employment_id" type="xs:unsignedShort" />
                          <xs:element name="hiringNotCompleted" type="xs:boolean" />
                          <xs:element name="isContingentWorker" type="xs:boolean" />
                          <xs:element name="jobNumber" type="xs:unsignedByte" />
                          <xs:element name="last_modified_by" type="xs:string" />
                          <xs:element name="last_modified_on" type="xs:dateTime" />
                          <xs:element name="originalStartDate" type="xs:date" />
                          <xs:element name="start_date" type="xs:date" />
                          <xs:element name="user_id" type="xs:unsignedInt" />
                          <xs:element name="job_information">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="business_unit" type="xs:unsignedByte" />
                                <xs:element name="calc_method_indicator" type="xs:boolean" />
                                <xs:element name="company" type="xs:unsignedShort" />
                                <xs:element name="company_territory_code" type="xs:string" />
                                <xs:element name="cost_center" type="xs:unsignedInt" />
                                <xs:element name="created_by" type="xs:string" />
                                <xs:element name="created_on" type="xs:date" />
                                <xs:element name="created_on_timestamp" type="xs:dateTime" />
                                <xs:element name="custom_string10" type="xs:string" />
                                <xs:element name="custom_string159" type="xs:unsignedInt" />
                                <xs:element name="custom_string160" type="xs:string" />
                                <xs:element name="custom_string19" type="xs:string" />
                                <xs:element name="department" type="xs:unsignedByte" />
                                <xs:element name="division" type="xs:unsignedByte" />
                                <xs:element name="employee_class" type="xs:unsignedByte" />
                                <xs:element name="employee_notice_period" type="xs:unsignedByte" />
                                <xs:element name="employee_type" type="xs:unsignedByte" />
                                <xs:element name="emplStatus" type="xs:string" />
                                <xs:element name="end_date" type="xs:date" />
                                <xs:element name="event" type="xs:string" />
                                <xs:element name="event_reason" type="xs:string" />
                                <xs:element name="excl_executive_sector" type="xs:boolean" />
                                <xs:element name="fgts_optant" type="xs:boolean" />
                                <xs:element name="fte" type="xs:decimal" />
                                <xs:element name="hazard" type="xs:boolean" />
                                <xs:element name="health_risk" type="xs:boolean" />
                                <xs:element name="holiday_calendar_code" type="xs:string" />
                                <xs:element name="ineligible_statutory_min_wage" type="xs:boolean" />
                                <xs:element name="is_competition_clause_active" type="xs:boolean" />
                                <xs:element name="is_cross_border_worker" type="xs:boolean" />
                                <xs:element name="is_eligible_for_benefit" type="xs:boolean" />
                                <xs:element name="is_eligible_for_car" type="xs:boolean" />
                                <xs:element name="is_fulltime_employee" type="xs:boolean" />
                                <xs:element name="is_primary" type="xs:boolean" />
                                <xs:element name="is_shift_employee" type="xs:boolean" />
                                <xs:element name="is_side_line_job_allowed" type="xs:boolean" />
                                <xs:element name="job_code" type="xs:string" />
                                <xs:element name="job_title" type="xs:string" />
                                <xs:element name="labor_Protection" type="xs:boolean" />
                                <xs:element name="last_modified_by" type="xs:string" />
                                <xs:element name="last_modified_on" type="xs:dateTime" />
                                <xs:element name="location" type="xs:unsignedShort" />
                                <xs:element name="manager_id" type="xs:string" />
                                <xs:element name="new_calc_avg_dnp" type="xs:boolean" />
                                <xs:element name="new_calc_avg_ppu" type="xs:boolean" />
                                <xs:element name="pay_grade" type="xs:string" />
                                <xs:element name="payment_in_lieu_of_notice" type="xs:boolean" />
                                <xs:element name="pcfm" type="xs:boolean" />
                                <xs:element name="pension_protection" type="xs:boolean" />
                                <xs:element name="permit_indicator" type="xs:boolean" />
                                <xs:element name="position" type="xs:string" />
                                <xs:element name="probation_period_end_date" type="xs:date" />
                                <xs:element name="resident_vote" type="xs:boolean" />
                                <xs:element name="retired" type="xs:boolean" />
                                <xs:element name="seq_number" type="xs:unsignedByte" />
                                <xs:element name="spcl_rule_non_manual_worker" type="xs:boolean" />
                                <xs:element name="standard_hours" type="xs:decimal" />
                                <xs:element name="start_date" type="xs:date" />
                                <xs:element name="teachers_pension" type="xs:boolean" />
                                <xs:element name="time_recording_profile_code" type="xs:string" />
                                <xs:element name="time_recording_variant" type="xs:string" />
                                <xs:element name="time_type_profile_code" type="xs:string" />
                                <xs:element name="timezone" type="xs:string" />
                                <xs:element name="working_time_directive" type="xs:boolean" />
                                <xs:element name="workingDaysPerWeek" type="xs:decimal" />
                                <xs:element name="workschedule_code" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="execution_timestamp" type="xs:dateTime" />
              <xs:element name="version_id" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>