cpi-artifacts/Demo/PRD_IF_EmployeeCreation_SF_to_S4_MDF_copy_100228/src/main/resources/xsd/EmployeeCreation_SharePoint_Target.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="EmployeePrismCode__c"/>
        <xs:element type="xs:string" name="FunctionalManagerName__c"/>
        <xs:element type="xs:string" name="FunctionalManagerPrismCode__c"/>
        <xs:element type="xs:string" name="Mediclaim_Applicable__c"/>
        <xs:element type="xs:string" name="ReportingManagerName__c"/>
        <xs:element type="xs:string" name="ReportingManagerPrismCode__c"/>
        <xs:element type="xs:string" name="UserModifiedDateTime__c"/>
        <xs:element type="xs:string" name="WorkCalendarPrismCode__c"/>
        <xs:element type="xs:string" name="active"/>
        <xs:element type="xs:string" name="batch"/>
        <xs:element type="xs:string" name="cust_Association_Date__c"/>
        <xs:element type="xs:string" name="cust_BaseLocationUniqueId__c"/>
        <xs:element type="xs:string" name="cust_ContractType__c"/>
        <xs:element type="xs:string" name="cust_DateOfBirth__c"/>
        <xs:element type="xs:string" name="cust_DateOfJoining__c"/>
        <xs:element type="xs:string" name="cust_DepartmentUniqueId__c"/>
        <xs:element type="xs:string" name="cust_Employee_Cluster_Code__c"/>
        <xs:element type="xs:string" name="cust_Employee_Designation__c"/>
        <xs:element type="xs:string" name="cust_Employee_MaritalStatus__c"/>
        <xs:element type="xs:string" name="cust_Employee_Org_struct_Prism_Code__c"/>
        <xs:element type="xs:string" name="cust_Employee_Position__c"/>
        <xs:element type="xs:string" name="cust_EmploymentType__c"/>
        <xs:element type="xs:string" name="cust_Gender__c"/>
        <xs:element type="xs:string" name="cust_OldEmployeePrismCode__c"/>
        <xs:element type="xs:string" name="cust_PersonalEmail__c"/>
        <xs:element type="xs:string" name="cust_RelivingDate__c"/>
        <xs:element type="xs:string" name="cust_ResignationDate__c"/>
        <xs:element type="xs:string" name="cust_costCenterName__c"/>
        <xs:element type="xs:string" name="cust_employment_status__c"/>
        <xs:element type="xs:string" name="cust_Pay_Grade__c"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="first"/>
        <xs:element type="xs:string" name="last"/>
        <xs:element type="xs:string" name="nickname"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="username"/>
        <xs:element type="xs:string" name="payroll_source"/>
        <xs:element type="xs:string" name="phone_number"/>
        <xs:element type="xs:string" name="salutation"/>
        <xs:element type="xs:string" name="cluster"/>
        <xs:element type="xs:string" name="operational_unit"/>
        <xs:element type="xs:string" name="business_unit"/>
        <xs:element type="xs:string" name="group_company"/>
        <xs:element type="xs:string" name="hrbp"/>
        <xs:element type="xs:string" name="voluntary"/>
        <xs:element type="xs:string" name="eligible_to_rehire"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>